* {
    box-sizing: border-box;
}
:root {
    font-family: 'Public Sans', sans-serif;
    font-weight: 300;
    font-size: 12px;
}
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #9698a6;
}
h1, h2, h3 {
    font-weight: 300;
    line-height: 1.15;
    color: #2d314d;
    margin: 0px;
}
.dionne-header {
    width: 100%;
    height: 5rem;
    position: fixed;
    box-shadow: 0px 15px 50px -15px rgb(100, 100, 100);
    padding: 0 1rem;
    background-color: white;
    z-index: 3;
    top: 0;
}
.dionne-header__logo {
    width: 9.27rem;
    height: 3.5rem;
}
.dionne-header__nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.dionne-header__nav > div a {
    font-size: 0.85rem;
    position: relative;
    opacity: 0;
}
.dionne-header__nav > div a:hover {
    color: #2d314d;
}
.dionne-header__nav > div a:hover::before {
    opacity: 1;
}
.dionne-header__nav > div a::before {
    content: "";
    display: block;
    position: absolute;
    height: 5px;
    left: 0;
    right: 0;
    bottom: -1rem;
    background: linear-gradient(to right, #31d35c, #2bb7da);
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}
main {
    margin-top: 5rem;
}
.container {
    padding: 5rem 1rem;
}
.dionne-hero {
    height: calc(100vh - 5rem);
    display: flex;
    flex-direction: column;
    background-color: #fafafa;
    padding-top: 0;
}
.dionne-hero-text {
    width: 100%;
    padding: 0 1rem 2rem;
}
.dionne-hero-img {
    width: 100%;
    height: 110%;
    position: relative;
}
.dionne-hero-img::before {
    content: "";
    background-image: url(../images/bg-intro-desktop.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 165%;
}
.dionne-hero-img::after {
    content: "";
    width: 100%;
    height: 100%;
    background-image: url(../images/image-mockups.png);
    position: absolute;
    background-repeat: no-repeat;
    background-position: -110% 50%;
    background-size: 120%;
}
.dionne-hero-text__title {
    font-size: 3.25rem;
    margin:15% 0;
}
.dionne-hero-text p {
    line-height: 1.5;
    margin-bottom: 2.25rem;
}
.btn {
    position: relative;
    display: inline-block;
    padding: 0.87rem 2.18rem;
    background-image: linear-gradient(to right, #31d35c, #2bb7da);
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
    transition: opacity 300ms ease-in-out;
    overflow: hidden;
}
.btn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.25);
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}
.btn:hover::before {
    opacity: 1;
}
.btn--sm {
    padding: 0.43rem 1.1rem;
    font-size: 0.72rem;
    right: 1.25rem;
    bottom: 1rem;
    position: absolute;
}
.dionne-about {
    display: flex;
    flex-direction: column;
    background-color: #f3f4f6;
}
.dionne-about h2 {
    font-size: 2.25rem;
    margin: 0 0 2.25rem;
}
.dionne-about-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 2.5rem;
}
.dionne-about-item div {
    width: 60%;
    text-align: center;
    margin: 2rem 0;
}
.dionne-about-item h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;    
}
.dionne-about-item p {
    font-size: 0.875rem;
    line-height: 1.5;
}
.dionne-about-partners {
    margin: 2.5rem 0 0;
}
.dionne-about-partners__title {
    text-align: center;
    margin-bottom: 3rem;
}
.dionne-about-partners__items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dionne-about-partners__items img{
    width: 6.6rem;
    height: 1.8rem;
}
.dionne-news {
    background-color: #fafafa;
}
.dionne-news h2, .dionne-jobs h2, .dionne-faqs__title {
    font-size: 2.25rem;
}
.dionne-news-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 0;
}
.dionne-news-block-items, .dionne-jobs-block-card {
    border-radius: 0.3125rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 3px 12px rgb(0 0 0 / 15%);
    width: 70%;
    margin: 2.5rem 0 0;
    transition: all 175ms ease-in-out;
    position: relative;
}
.dionne-news-block-items:hover, .dionne-jobs-block-card:hover {
    transform: scale(1.07);
}
.dionne-news-block-items img {
    width: 100%;
    height: auto;
}
.dionne-news-block-items-card__text {
    padding: 1.8rem 1.5rem;
}
.dionne-news-block-items-card__text p, .dionne-jobs-block-card p{
    font-size: 0.85rem;
    color: #9698a6;
}
.dionne-jobs {
    background-color: #f3f4f6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dionne-jobs-block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dionne-jobs-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    margin-bottom: 5rem;
}
.dionne-jobs-block-card {
    width: 80%;
    padding: 1.25rem;
}
.dionne-jobs-block-card strong {
    font-size: 0.7rem;
    color: #9698a6;
}
.dionne-jobs-block-card h3 {
    margin-top: 0.3rem;
}
.dionne-jobs > a {
    color: #2d314d;
    align-self: flex-end;
}
.dionne-faqs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    min-height: 100vh;
}
.dionne-faqs__title {
    align-self: flex-start;
}
.dionne-faqs li {
    list-style-type: disclosure-closed;
    padding: 2rem 0;
}
.modal { 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: rgba(0, 0, 0, 0.555);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}
.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: white;
    overflow: auto;
    cursor: default;
}
.modal {
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}
.modal.is-visible {
    visibility: visible;
    opacity: 1;
}
.modal-dialog > * {
    padding: 1.7rem;
}   
.modal-header, .modal-footer {
    background-color: #efefef;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.modal-header .modal-close {
    font-size: 1.5rem;
}
.close-modal {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    font-size: inherit;
}
.modal p + p {
    margin-top: 1rem;
}
.dionne-footer {
    width: 100%;
    background-color: #2d314d;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 1rem;
}
.dionne-footer-icons > i {
    background-image: url("../images/DionneBankLogoWhite.png");
    background-size: cover;
    width: 137px;
    height: 52px;
    margin-bottom: 0.75rem;
    display: block;
}
.dionne-footer-icons-items {
    display: flex;
    justify-content: space-around;
}
.dionne-footer-icons-items i {
    display: block;
    width: 22px;
    height: 20px;
    background-size: cover;
}
#dionne-footer-icons-items__tw {
    background-image: url(../images/icon-twitter.svg);
}
#dionne-footer-icons-items__fb {
    background-image: url(../images/icon-facebook.svg);
}
#dionne-footer-icons-items__in {
    background-image: url(../images/icon-instagram.svg);
}
.dionne-footer-nav {
    display: flex;
    flex-direction: column;
}
.dionne-footer-nav a {
    margin-bottom: 1rem;
}
.dionne-footer-nav a:hover {
    color: white;
}
.dionne-footer > p{
    color: #9698a6;
}
.dionneJobs-main {
    width: 100%;
    padding-top: 4.5rem;
    min-height: 100vh;
}
.dionneJobs-main > h1 {
    text-align: center;
    padding: 0 0 4rem;
}
.dionneJobs-main-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f3f4f6;
    border: 0.5px solid gray;
    border-radius: 0.5rem;
    padding: 0.85rem;
    margin-bottom: 4rem;
}
.dionneJobs-main-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.dionneJobs-main-form-wrapper > select {
    margin: 1rem;
    height: 2.25rem;
    border-radius: 0.5rem;
    width: 8rem;
}
.dionneJobs-main-form-wrapper legend {
    padding: 0 0.5rem 0.5rem;
}
.dionneJobs-experience {
    display: inline-block;
    padding: 1rem 1rem 2rem;
    text-align: center;
}
.dionneJobs-experience label{
    padding-right: 0.6rem;
}
#dionneJobs-main-form__btn {
    margin-bottom: 1rem;
}
.dionneJobs-main-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.line {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #2d314d;
}
.hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
    z-index: 2;
}
.nav-links {
    position: fixed;
    background: white;
    height: 100vh;
    width: 100%;
    clip-path: circle(100px at 90% -10%);
    transition: all 1s ease-out;
    top: 0;
    left: 0;
    pointer-events: none;
}
.nav-links.open {
    /* clip-path: circle(1000px at 90% -10%); */
    pointer-events: all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10rem 0;
}
.dionne-header__nav > div a.fade {
    opacity: 1;
}

@media screen and (min-width: 768px) {
    :root {
        scroll-behavior: smooth;
        font-size: 16px;
    }

    .dionne-header__nav > div a {
        margin-right: 2rem;
        opacity: 1;
    }
    .dionne-header__nav > div a::before {
        bottom: calc((5rem / -2) + 0.85rem - 5px);
    }
    .hamburger {
        position: inherit;
    }
    .line {
        height: 0;
        width: 0;
    }
    .nav-links {
        width: auto;
        height: auto;
        position: inherit;
        clip-path: inherit!important;
        pointer-events: all;
    }
    .dionne-hero {
        flex-direction: row-reverse;
        padding: 0 2.75rem;
        align-items: center;
    }
    .dionne-hero-text {
        width: 50%;
    }
    .dionne-hero-img {
        width: 50%;
    }
    .dionne-hero-img::before {
        width: calc(100% + 2.75rem);
        background-position: 8% 50%;
        background-size: 250%;
    }
    .dionne-hero-img::after {
        width: calc(100% + 2.75rem);
        background-position: -30% 50%;
        background-size: auto;
    }
    .dionne-about-item {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .dionne-about-item div {
        width: 35%;
    }
    .dionne-about-partners__items img{
        width: 11.25rem;
        height: 3rem;
    }
    .dionne-news-block {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .dionne-news-block-items {
        width: 40%;
    }
    .dionne-jobs-img {
        margin-bottom: 7rem;
    }
    .dionne-header {
        padding: 0 2.75rem;
    }
    .container {
        padding: 6rem 2.75rem;
    }
    .dionne-footer {
        padding: 4rem 2.75rem;
    }
    .dionneJobs-main {
        padding-top: 4.5rem;
     }
    .dionneJobs-main-form {
        justify-content: space-around;
    }
    .dionneJobs-main-form-wrapper > select {
        width: 5rem;
    }
    .dionneJobs-experience {
        padding: 0;
    }
    #dionneJobs-main-form__btn {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 6rem 7rem;
    }
    .dionne-header {
        padding: 0 6rem;
    }
    .dionne-hero {
        padding: 0 6rem;
    }
    .dionne-hero-img::before {
        width: calc(100% + 6rem);
        background-position: 0% 83%;
        background-size: 150%;
    }
    .dionne-hero-img::after {
        width: calc(100% + 6rem);
        background-position: -50% 83%;
    }
    .dionne-about-partners__items img{
        width: 15rem;
        height: 4rem;
    }
    .dionne-about-item div {
        width: 22%;
        text-align: left;
    }
    .dionne-news-block-items {
        width: 20%;
    }
    .dionne-jobs-block {
        flex-direction: row;
        align-items: center;
    }
    .dionne-jobs-block > h3 {
        width: 40%;
        text-align: center;
    }
    .dionne-jobs-img {
        margin-bottom: 0;
    }
    .dionne-footer {
        padding: 4.5rem 6rem;
    }
    .dionneJobs-main {
       padding-top: 4.5rem;
    }
    .dionneJobs-main-form-wrapper > select {
        width: 9rem;
    }
    .dionneJobs-main-form {
    width: auto;
    margin: 0 auto;
    }
    .dionneJobs-experience {
        margin: 0 1rem;
    }
}